html, body {
    margin: 0;
    padding: 0;
    background-color:  #22c022;
}

header {
    background-color: #22c022;
    color: white;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 10;
}
#logo {
    width: 180px;
    top: 7px;
    margin-left:10px;
    margin-top: -20px;
}
#menu {
    float: right;
    margin-right: 2%;
    list-style: none;
    margin-top: -73px;
    color:#ffffff;
}
#topicos3{
    color: #ffffff;
    font-size: 28px;
    

}
li {
    float: left;
    padding: 20 10 20 10;
}
li:hover {
    background-color: #01AAEA;
}

.content {
    padding: 20px;
}

.section1 {
    margin-bottom: 100px;
    background: url(download.jpg);
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    text-align: center;
    margin-top: -120px;
    
}




.section {
    margin-bottom: 10px;
    background-color: #fffb18;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section h1 {
    color: #003366;
    text-align: center;
    font-size: 40px;
}

.section img {
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
    text-align: center;
}

footer {
    background-color: #22c022;
    color: #f3f1eb;
    text-align: center;
    padding: 6px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
section h3 {
    color: #003366;
    text-align: center;
    font-size: 28px;
}
